@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other global styles can go here */
body {
  margin: 0;
  font-family: 'Inter', 'Noto Sans', sans-serif; /* Apply Inter as base font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}